*{
    margin: 0;
    text-decoration: none;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}


.front-page{
    height: 110vh;
    width: 100%;
    background-image: url(page1.jpg);
    background-size: cover;
    transition: .3s;
}

.nav{
    position: absolute;
    text-align: center;
    color: #252527c2;
    font-size: 1.5em;
    margin-top: 1vh;
    transition: .3s;
    width: 10vw;
    padding: 5px;
    border-radius: 5px;
    top: 2vh;
    z-index: 4;
}

.about-nav{
    left: 29vw;
}

.skills-nav{
    left: 49vw;
}

.contact-nav{
    left: 70vw;
}

.nav:hover{
    color: #e2e2e2;
}

.home{
    position: fixed;
    left: 3vw;
    top: 3vh;
    font-size: 2.2em;
    transition: .3s;
    color: #a8a7b179;
    background-color: none;
    z-index: 4;
}

.home:hover{
    color: #DBDAEA
}

.header{
    position: fixed;
    width: 100vw;
    text-align: center;
    background-color: #afadb94d;
    height: 10vh;
    z-index: 3;
}

.titulo{
    
    font-size: 6em;
    position: absolute;
    top: 50vh;
    left: 20vw;
    color: rgb(14, 14, 14);
    z-index: 2;
}

.img{
    border-radius: 50%;
    max-width: 20vw;
    min-width: 250px;
    position: absolute;
    right: 25vw;
    top: 25vh;
    z-index: 1;
}

.arrow{
    position: absolute;
    font-size: 5em;
    top: 85vh;
    right: 3vw;
}

.arrow-icon{
    color: #dbdaea79;
    transition: .3s;
}

.arrow-icon:hover{
    color: #dbdaea;
}

/* ---------------second page------------------ */

.second-page{
    height: 110vh;
    width: 100vw;
    background-image: url(teclado-minimalista.jpg);
    background-size: cover;
    color: rgb(51, 51, 51);
}

.arrow2{
    position: absolute;
    font-size: 5em;
    top: 195vh;
    right: 3vw;
}

.arrow-icon2{
    color: #70707979;
    transition: .3s;
}

.arrow-icon2:hover{
    color: #c9c9c9ce;
}

.description{
    position: absolute;
    text-align: right;
    min-width: 400px;
    max-width: 1000px;
    top: 165vh;
    max-height: 5vh;
    right: 10vw;
    font-size: 2em;
}

.i-am{
    position: absolute;
    left: 10%;
    top: 125vh;
    font-size: 2.7em;
    max-width: 500px;
    font-weight: 600;
}

.trybe{
    color: #857E61;
}

.trybe:hover{
    text-decoration: underline;
}

/* ------------ third page------------- */

.third-page{
    height: 120vh;
    width: 100vw;
    background-image: url(lampada.jpg);
    background-size: cover;
    background-position: 20vw;
    line-height: 5vh;
}

.third-page h3{
    font-size: 2em;

}
.lista{
    list-style: none;
    font-size: 1.3em;
    
}

.skills-known{
    width: 400px;
    position: absolute;
    left: 10vw;
    top: 230vh;
    color: #818186;
}

.skills-unknown{
    width: 400px;
    position: absolute;
    left: 10vw;
    top: 280vh;
    color: #818186;
}

.icone-lista{
    font-size: 1.5em;
    transition: .3s;
}

.icone-lista:hover{
    font-size: 1.9em;
    color: #fdfdff;
}

.contato{
    position: absolute;
    right: 10vw;
    top: 320vh;
    color: #818186;
}

.icones-redes{
    font-size: 3.4em;
    color: #818186;
    transition: .3s;
    margin-left: 18px;
}

.icones-redes:hover{
    color: #fdfdff;
}

.footer{
    left: 50vw;
    text-align: center;
    position: absolute;
    top: 335vh;
    color: #818186;
}