* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

/* nav bar */

.header {
  height: 9vh;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all ease-in .3s;
  z-index: 1;
}

.header a, li {
  padding: 1em;
}

.header a, li, ul{
  background-color: none;
  list-style-type: none;
  font-size: 1.2em;
  border-radius: 3px;
  color: #e4e4e4;
  transition: color ease-in-out .3s;
  transition: all ease-in .1s;
}

.header li a:hover{
  background-color: #0f0f0fdc;
  color: #f3f3f3;
}

.nav-container {
  display: flex;
}

.nav-menu {
  width: 60vw;
  display: flex;
  justify-content: flex-end;
}

.home {
  position: relative;
  font-size: 1.8em;
  transition: .2s;
  margin-left: 1vw;
  z-index: 1;
}

.menu-btn {
  display: none;
}

/* header on scroll */

.header.scroll {
  background-color: #0f0f0fdc;
  height: 8vh;
}

.header.scroll a{
  color: #f3f3f3;
  padding: 2.2vh 1em;
  border-radius: 0px;
}

.header.scroll li a:hover{
  background-color: #0f0f0fdc;
  color: #f3f3f3;
}

/* first page */

.front-page {
  display: flex;
  height: 110vh;
  width: 100vw;
  background-image: url(./images/page1dark.jpg);
  background-size: cover;
  flex-direction: column;
  justify-content: flex-end;
}

.img-container {
  align-self: flex-end;
  margin-right: 25vw;
}

.img {
  min-width: 250px;
  max-width: 15vw;
  border-radius: 50%;
  filter: brightness(95%);
}

.title {
  font-size: 6em;
  margin-left: 25vw;
  /* margin-bottom: 25vh; */
  width: 60%;
  color: #dadada;
}

.arrow {
  margin: 12vh auto 11vh auto;
  font-size: 4em;
  transition: all ease-in-out .2s;
}

.arrow a {
  color: #c2c2c271;
  transition: all ease-in-out .3s;
}

.arrow:hover {
  transform: translateY(.5vh);
}

.arrow a:hover {
  color: rgb(160, 160, 160);
}

/* about page */

.about {
  display: flex;
  height: 110vh;
  width: 100%;
  background-image: url(./images/teclado-minimalista.jpg);
  background-size: cover;
  color: rgb(51, 51, 51);
  flex-direction: column;
  justify-content: flex-end;
}

.resume {
  font-size: 2.6em;
  width: 40%;
  max-width: 950px;
  margin: 2em;
  margin-top: 17vh;
}

.trybe {
  color: #857E61;
}

.trybe:hover {
  text-decoration: underline;
}

.description {
  font-size: 1.8em;
  font-weight: 300;
  width: 60%;
  max-width: 900px;
  text-align: right;
  align-self: flex-end;
  margin: 4em 3em 2em 3em;
  margin-top: 6em;
}

.arrow2 {
  margin: 8vh auto 11vh auto;
  font-size: 4em;
  transition: all ease-in-out .2s;
}

.arrow2 a {
  color: #91909071;
  transition: all ease-in-out .3s;
}

.arrow2:hover {
  transform: translateY(.5vh);
}

.arrow2 a:hover {
  color: rgb(160, 160, 160);
}

/* skills page */

.skills {
  display: flex;
  flex-direction: column;
  min-height: 110vh;
  width: 100%;
  background-image: url(./images/lampada.jpg);
  background-size: cover;
  background-position: 20vw;
  line-height: 0;
}

.skills-list {
  /* display: flex; */
  padding: 1.5em;
  line-height: 4vh;
  margin-left: 5vw;
}

.skills-list h3 {
  font-size: 1.7em;
  color: #e4e4e4;
  margin-bottom: 1em;
}

.skills-list li{
  color: #e4e4e4;
  font-size: 1em;
  padding: .3em;
  cursor: default;
}

.skills-known {
  margin-top: 9vh;
}

.skills-unknown {
  padding-bottom: 0;
  padding-top: 1em;
}

.list-icon {
  font-size: 1.6em;
  transition: .2s;
}

.skills-list li:hover {
  color: #d8b184;
}

.arrow3 {
  margin: 2vh auto 15vh auto;
  font-size: 4em;
  transition: all ease-in-out .2s;
}

.arrow3 a {
  color: #91909071;
  transition: all ease-in-out .3s;
}

.arrow3:hover {
  transform: translateY(.5vh);
}

.arrow3 a:hover {
  color: rgb(160, 160, 160);
}

/* projects page */

.fourth-page {
  width: 100vw;
  min-height: 105vh;
  background-color: #dbdbdb;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.fourth-page h3 {
  font-size: 2.1rem;
  padding-top: 10vh;
  padding-bottom: 5vh;
  color: #424242;
}

.project-img {
  max-width: 500px;
  width: 30vw;
  display: flex;
  align-self: flex-start;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.projects h4 {
  width: 100%;
  margin-bottom: 20px;
  font-size: 1.7rem;
  color: #424242;
}

.project-box {
  max-height: 80vh;
  max-width: 40vw;
  margin: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  padding: 20px;
  border-radius: 6px;
  transition: .2s;
}

.project-box:hover {
  background-color: #b1b1b152;
}

.project-box p {
  color: #2c2c2c;
  font-size: 1.2rem;
  font-weight: 300;
  padding: 2em;
}

.footer {
  width: 100%;
  text-align: center;
  color: #818186;
  padding-bottom: 5px;
}

.network-icons {
  color: #58585894;
  transition: .4s;
  margin: 6vh 1vw 2vh 1vw;
}

.network-icons:hover {
  color: #727171;
}

.redes {
  font-size: 2.5em;
}

/* burger-menu */

.menu-btn {
  height: 40px;
  width: 40px;
  margin: 1em;
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.burger-btn {
  width: 40px;
  height: 4px;
  border-radius: 5px;
  background-color: #e4e4e4;
  transition: all ease-in-out .3s;
}

.burger-btn::before, .burger-btn::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 4px;
  border-radius: 5px;
  background-color: #e4e4e4;
  transition: all ease-in-out .3s;
}

.burger-btn::before {
  transform: translateY(-13px);
}

.burger-btn::after {
  transform: translateY(13px);
}

.menu-btn.active .burger-btn{
  transform: translateX(-30px);
  background-color: transparent;
}

.menu-btn.active .burger-btn::before {
  transform: rotate(45deg) translate(15px, -15px);
}

.menu-btn.active .burger-btn::after {
  transform: rotate(-45deg) translate(15px, 15px);
}


@media only screen and (max-width: 900px) {
  .project-box {
    min-width: 80vw;
    background-color: #b1b1b152;
  }

  .title {
    margin-top: 1em;
    font-size: 5em;
  }

  .arrow {
    margin-top: 8vh;
  }

  .img-container {
    padding-right: 20%;
  }

  .resume {
    font-size: 2.3em;
    width: 50%;
  }

  .description {
    margin-top: 4em;
    font-size: 1.7em;
  }

  .arrow2 {
    margin-top: 3vh;
  }

  .menu-btn {
    display: flex;
  }

  .nav-menu-container {
    width: 0;
    display: flex;
    align-items: center;
    text-align: center;
    overflow: hidden;
    position: absolute;
    top: 0vh;
    height: 100vh;
    background-color: #111111e1;
    transition: ease-in-out .3s;
  }

  .nav-menu-container.display {
    width: 50%;
  }

  .nav-menu {
    opacity: 0;
    line-height: 13vh;
    display: flex;
    flex-direction: column;
    transition: 1s;
  }

  .nav-menu.display {
    opacity: 1;
  }

  .home.active {
    color: #e4e4e4;
  }
}
