* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

/* nav bar */

.header {
  height: 9vh;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all ease-in .3s;
}

.header a, li {
  padding: 1em;
}

.header a, li, ul{
  background-color: none;
  list-style-type: none;
  font-size: 1.2em;
  border-radius: 3px;
  color: #e4e4e4;
  transition: color ease-in-out .3s;
  transition: all ease-in .1s;
}

.header li a:hover{
  background-color: #0f0f0fdc;
  color: #f3f3f3;
}

.nav-container {
  display: flex;
}

.nav-menu {
  width: 60vw;
  display: flex;
  justify-content: flex-end;
}

.home {
  font-size: 1.8em;
  transition: .2s;
  margin-left: 1vw;
}

.menu-btn {
  display: none;
}

/* header on scroll */

.header.scroll {
  background-color: #0f0f0fdc;
  height: 8vh;
}

.header.scroll a{
  color: #f3f3f3;
  padding: 2.2vh 1em;
  border-radius: 0px;
}

.header.scroll li a:hover{
  background-color: #0f0f0fdc;
  color: #f3f3f3;
}

/* first page */

.front-page {
  display: flex;
  height: 110vh;
  width: 100%;
  background-image: url(./images/page1dark.jpg);
  background-size: cover;
  flex-direction: column;
  justify-content: flex-end;
}

.img-container {
  align-self: flex-end;
  margin-right: 25vw;
}

.img {
  min-width: 250px;
  max-width: 15vw;
  border-radius: 50%;
}

.title {
  font-size: 6em;
  margin-left: 25vw;
  /* margin-bottom: 25vh; */
  width: 60%;
  color: #cecece;
}

.arrow {
  margin: 12vh auto 11vh auto;
  font-size: 4em;
  transition: all ease-in-out .2s;
}

.arrow a {
  color: #c2c2c271;
  transition: all ease-in-out .3s;
}

.arrow:hover {
  transform: translateY(.5vh);
}

.arrow a:hover {
  color: rgb(160, 160, 160);
}
